@model BulkyBook.Models.ReqAccess

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<form asp-action="Detail" method="post">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" value="@Model.Status" id="status" />
    <div class="container backgroundWhite mt-4">
        <div class="row d-flex justify-content-between px-3">
            <div>
                <h4>
                    @Html.DisplayFor(model => model.Product.Title)
                </h4>
            </div>
            <div>
                <a asp-action="Index" class="btn btn-primary btn-square btn-lg form-control">Back to List</a>
            </div>
        </div>

        <hr />
        <div class="card p-4">
            <div class="container row">
                <dl class="col-12 col-md-8 row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Description)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Description)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Author)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Author)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Price)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Product.Category)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Product.Category.Name)
                    </dd>


                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
                <div class="col-12 col-md-4">
                    <img src="  @Html.DisplayFor(model => model.Product.ImageUrl)" class="card-img-top rounded" style="height:350px; width:100%" />
                </div>
            </div>

            <div class="col-12 col-md-3">
                @if (Model.Status == "Block")
                {
                    <button type="submit" class="btn btn-secondary btn-square btn-lg form-control" onclick="return validateStatus()">Request to Access</button>
                }
                else if (Model.Status == "InProcess")
                {

                    <button type="submit" class="btn btn-info btn-square btn-lg form-control" onclick="return validateStatus()">Wait for Accept</button>
                }
                else if (Model.Status == "Rejected")
                {
                    <button type="submit" class="btn btn-danger btn-square btn-lg form-control" onclick="return validateStatus()">Reject to Read</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success btn-square btn-lg form-control" onclick="return validateStatus()">Read</button>

                }
            </div>
        </div>

    </div>
</form>


<script>
    function validateStatus() {
        var status = document.getElementById("status").value;
        switch (status) {
            case "Block":
                if (confirm("Request to accept this book")) {
                    return true;
                } else {
                    return false;
                }
                break;
            case "InProcess":
                swal({
                    text: "Your request is on process",
                });
                return false;
                break;
            case "Rejected":
                swal({
                    text: "You can not access this book",
                });
                return false;
                break;
            default:
                return true;
                break;
        }

    }
</script>

